{include file='layout/north.tpl'}

		<div class="container">

			{include file='includes/header.tpl'}

			<div class="body">

				<p>The page you are looking at is being generated dynamically by CodeIgniter.</p>

				<p>If you would like to edit this page you'll find it located at:</p>
				<code>{$view}</code>

				<p>The corresponding controller for this page is found at:</p>
				<code>{$controller}</code>

				<p>If you are exploring CodeIgniter for the very first time, you should start by reading the <a href="{$user_guide}">User Guide</a>.</p>

			</div>

			{include file='includes/footer.tpl'}

		</div>

{include file='layout/south.tpl'}
