<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{$page_title}</title>
		<style>

			::selection {
				background-color: #e13300;
				color: #fff;
			}

			body {
				background-color: #fff;
				margin: 40px;
				font: 13px/20px normal Helvetica, Arial, sans-serif;
				color: #4f5155;
			}

			a {
				color: #039;
				background-color: transparent;
				font-weight: normal;
			}

			h1 {
				color: #444;
				background-color: transparent;
				border-bottom: 1px solid #d0d0d0;
				font-size: 19px;
				font-weight: normal;
				margin: 0 0 14px 0;
				padding: 14px 15px 10px 15px;
			}

			code {
				font-family: Consolas, Monaco, Courier New, Courier, monospace;
				font-size: 12px;
				background-color: #f9f9f9;
				border: 1px solid #d0d0d0;
				color: #002166;
				display: block;
				margin: 14px 0 14px 0;
				padding: 12px 10px 12px 10px;
			}

			.container {
				margin: 10px;
				border: 1px solid #d0d0d0;
			}

			.body {
				margin: 0 15px 0 15px;
			}

			.footer {
				text-align: right;
				font-size: 11px;
				border-top: 1px solid #d0d0d0;
				line-height: 32px;
				padding: 0 10px 0 10px;
				margin: 20px 0 0 0;
			}

			.footer p {
				margin: 0;
			}

		</style>
	</head>
	<body>
